/* Add all your styles here */
.pink{
color: purple;
}
body{
font-family: Cursive;
color: black;
line-height: 30px;
}
.left {
width: 50%;
float: left;
}
.img1{
width: 200px;
padding-top: 50px;
padding-left: 20px;
}

.img2{
width: 200px;
padding-left: 200px;
}
.google{
color: white;
background-color: black;
padding: 10px 10px 10px 10px;
border-radius: 50px;
text-decoration: none;
font-family: Serif;
}

#head{
font-size: 3em;
line-height: 40px;
}

.container{
padding-left: 5px;
display: inline-block;
}


.experience {
background-color: rgb(238, 251, 255);
margin: 30px;
padding: 30px;
border-radius: 20px;
}

.item {
padding: 20px;
border-left: 1px solid purple;
}
 
 .font{ font-size: 13px;}
